<h1>Student Register</h1>

<form action="" method="post">
    <input type="hidden" name="id" value="<%= student[0].id %>">
    <input type="text" name="email" value="<%= student[0].email %>" placeholder="Enter Your Email" required><br><br>
    <input type="text" name="password" value="<%= student[0].password %> " placeholder="Enter Your Password"
        required><br><br>
    <input type="submit" value="Submit">

</form>
